@media only screen and (max-width: 767px) {
  html {
    overflow-y: scroll;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    border: 0;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic", sans-serif;
    color: rgb(51, 51, 51);
    overflow-x: hidden;
  }

  .hidden {
    display: none;
  }

  .toggle-menu {
    display: unset;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(34, 34, 34);
    opacity: 0.97;
    overflow: hidden;
    z-index: 99;
  }

  .mobile_menu_button img {
    z-index: 0;
    width: 30px;
  }

  .toggle-menu .close-wrapper {
    display: block;
    padding: 16px;
  }

  .main_invite_wrap section img {
    width: 90%;
  }

  footer .content img {
    float: unset;
    margin: 8px 0;
    vertical-align: middle;
    text-align: center;
    width: 200px;
  }

  .about-landing-wrap div.content a {
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
  }

  .toggle-menu .close-wrapper img {
    float: right;
  }

  .toggle-menu .toggle-nav .nav-list {
    padding: 0 16px;
  }

  .toggle-menu .toggle-nav .nav-list .nav-item {
    border-bottom: 1px solid #ef513c;
    padding: 16px 0;
  }

  .toggle-menu .toggle-nav .nav-list .nav-item a {
    color: #fff;
  }

  .toggle-menu .toggle-nav .nav-list .nav-item:last-child {
    border: none;
    text-align: center;
    padding-top: 42px;
  }

  .toggle-menu .toggle-nav .nav-list .nav-item:last-child a {
    color: #ef513c;
    padding: 10px 36px;
  }

  .toggle-menu .toggle-nav .nav-list .btn-link {
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    color: #ef513c;
    border: 2px solid #ef513c;
    margin-top: 8px;
  }

  .toggle-menu .toggle-nav .nav-list .active {
    color: #ef513c;
  }

  .header-wrap {
    display: none;
  }

  .mobile-logo-wraper {
    width: 100%;
    text-align: center;
    margin: 1em 0;
  }

  .top-menu {
    display: none;
  }

  .main_invite_wrap {
    background: url("./images/mobile_intro_bg.png") center top no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .wrap > section {
    width: 100%;
    margin: 0 auto;
  }

  .main_invite_wrap section div.message {
    margin: 17px 0.75em 0;
    width: calc(100% - 2.5em);
    padding: 1em 0.5em;
    line-height: 150%;
    font-size: 16px;
    height: auto;
    text-align: justify;
    word-break: break-all;
    border: 4px solid #fff;
    background-color: #f7f7f8;
  }

  .main_invite_wrap section div.location {
    text-align: center;
    width: 100%;
    font-size: 1.125em;
    margin: 0;
    height: 95px;
    padding-top: 40px;
  }

  .main_invite_wrap section div.location .date-info {
    font-size: 21px;
    font-weight: 700;
    width: 90%;
    display: inline-block;
    text-align: left;
    margin-bottom: 4px;
    letter-spacing: 0;
    color: #575757;
  }

  .main_invite_wrap section div.location .location-address {
    font-size: 16px;
    width: 90%;
    display: inline-block;
    text-align: left;
  }

  .program-info-wraper {
    background-image: url("./images/pattern_bg.png");
    background-repeat: repeat;
    background-color: #272a32;
    height: auto;
    padding-bottom: 80px;
  }

  .normal {
    font-weight: 400;
  }

  .program-info-wraper section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: #fff;
    height: auto;
  }

  .program-info-wraper section h2 {
    font-size: 24px;
  }

  .guide-bar {
    width: 53px;
    border-top: 1px solid #ef513c;
    margin: 16px auto 54px;
  }

  .program-info-wraper section .program-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 16px 0;
    height: auto;
    overflow: auto;
    background: rgba(255, 255, 255, 0.1);
  }

  .program-info-wraper section .program-card .program-icon {
    float: left;
    margin: 0;
    padding-left: 10px;
  }

  .program-info-wraper section .program-card .program-sub-title {
    float: left;
    text-align: left;
    font-size: 18px;
    flex: 1 1 0;
    margin: 0 8px;
    color: #ef513c;
    font-weight: 700;
  }

  .program-info-wraper section .program-card .program-sub-description {
    width: calc(74% - 6.5em);
    float: left;
    font-size: 1em;
    text-align: left;
    word-break: keep-all;
    overflow: auto;
    height: auto;
    color: #fff;
    line-height: 1.5em;
    padding: 8px 17px;
  }

  .program-info-wraper .join-button {
    display: unset;
    background-color: #ef513c;
    color: #fff;
    font-size: 20px;
    border: 0;
    padding: 10px 18px;
    margin-top: 25px;
  }

  .b-bottom {
    border-bottom: 1px solid #dfdfdf;
  }

  .hide {
    display: none !important;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .logo-wrapper .content img {
    margin: 32px 0;
    width: 90%;
  }

  footer.dark_footer div.content img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(5deg) brightness(100%) contrast(100%);
  }

  .summits-wrapper .content .past-links img {
    width: 95%;
    margin-top: 10px;
  }

  .speakers-wrap {
    height: auto;
    padding-bottom: 35px;
    width: 93%;
    margin: auto;
  }

  .speakers-wrap div.content {
    text-align: center;
    padding-top: 79px;
    color: #272a32;
    height: auto;
  }

  .speakers-wrap div.content .speakers-list .speaker {
    border: 0;
    width: calc(100% - 10px);
    display: flex;
    height: unset;
    margin: 12px 0;
  }

  .speakers-wrap div.content .more-btn img {
    margin-left: 8px;
  }

  .sponsors-wrap .content .sponsor-logos a img {
    width: 130px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(5deg) brightness(100%) contrast(100%);
  }

  .speakers-wrap div.content .speakers-list .speaker img {
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 30px;
  }

  .speakers-wrap div.content .speakers-list .speaker .desc {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .speakers-wrap div.content .speakers-list .speaker .desc .speaker-name {
    font-size: 22px;
  }

  .speakers-wrap div.content .speakers-list .speaker .desc .speaker-tag-name {
    font-size: 14px;
    margin-top: 5px;
  }

  .speakers-wrap div.content .speakers-list .speaker .desc .speaker-job {
    font-size: 13px;
    color: #ff4f38;
    text-align: left;
  }

  .speakers-wrap div.content .speakers-list .speaker .desc .speaker-desc {
    word-break: keep-all;
    text-align: left;
    font-size: 0.875em;
    padding-right: 1em;
    line-height: 24px;
    margin-top: 24px;
  }

  .speakers-wrap div.content .more-btn {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    display: flex;
  }

  .more-link {
    display: none;
  }

  .speakers-wrap div.content .more-link {
    color: #333;
  }

  .sponsors-wrap {
    text-align: center;
    background-color: #2e2e2e;
  }

  footer .content {
    text-align: center;
    padding: 16px 0;
    width: 90%;
    margin: auto;
  }

  .sponsors-wrap .content {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 45px;
    color: white;
    height: auto;
  }

  .sponsors-wrap .content .sponsor-logos {
    overflow: auto;
    height: auto;
    margin: auto;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    width: 70%;
    position: relative;
  }

  footer {
    font-size: 0.87em;
    color: #272a32;
  }

  .wrap {
    width: unset;
    overflow-x: hidden;
  }

  .wrap > nav,
  .wrap div.content {
    max-width: 1100px;
    width: 93%;
    margin: 0 auto;
  }

  .about-landing-wrap {
    height: auto;
  }

  .mobile_menu_button {
    position: absolute;
    top: 35px;
    left: 20px;
    z-index: 1;
    width: 32px;
  }

  .about-landing-wrap div.content {
    padding: 18px;
    text-align: left;
    align-items: flex-start;
  }

  .about-landing-wrap div.content img.title-image {
    width: 90%;
    padding-top: 120px;
  }

  .about-landing-wrap div.content .header-card {
    width: unset;
    text-align: center;
    margin: 0 auto 33px;
    padding: 32px;
    line-height: 25px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    font-size: 0.875em;
  }

  .logo-wrapper .content {
    text-align: center;
    padding: 48px 12px 36px;
  }

  .summits-wrapper .content {
    padding: 48px 12px 36px;
    text-align: center;
  }

  footer.dark_footer {
    background-color: #2e2e2e;
  }

  footer.dark_footer div.content {
    color: white;
  }
}

@media only screen and (max-width: 300px) {
  .program-info-wraper section .program-card {
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 16px 0;
    height: auto;
    overflow: auto;
    background: rgba(255, 255, 255, 0.1);
  }

  .program-info-wraper section .program-card .program-sub-description {
    width: calc(100% - 5em);
    float: left;
    font-size: 0.81em;
    text-align: left;
    word-break: keep-all;
    overflow: auto;
    height: auto;
    color: #fff;
    line-height: 1.5em;
    padding: 8px 17px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    overflow-y: scroll;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    border: 0;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .hidden {
    display: none;
  }

  .toggle-menu {
    display: none;
  }

  .mobile_menu_button {
    display: none;
  }

  body {
    display: unset;
    margin: 0;
    padding: 0;
    font-family: nanum-gothic, sans-serif;
    color: rgb(51, 51, 51);
  }

  .main_invite_wrap section img {
    width: 98%;
  }

  .more-link {
    display: block;
    font-size: 1.125em;
    color: white;
    text-align: center;
    text-decoration: underline;
  }

  .top-menu {
    width: 100%;
    background-color: #3e3e3e;
    height: 36px;
    text-align: right;
    line-height: 36px;
    vertical-align: middle;
  }

  .top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
  }

  .top-menu ul li {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
  }

  .top-menu ul a {
    color: white;
  }

  footer .content img {
    float: left;
    vertical-align: middle;
    text-align: center;
    margin-right: 28px;
    width: 200px;
  }

  header div.content a img {
    margin-top: 13px;
  }

  .logo-wrapper .content img {
    margin: 32px 0;
  }

  .about-landing-wrap div.content a {
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
  }

  .header-wrap {
    box-shadow: rgb(0 0 0 / 30%) 0 2px 8px 0;
    position: relative;
  }

  header div.content {
    height: 80px;
    line-height: 50px;
  }

  .wrap > nav,
  .wrap div.content {
    max-width: 1100px;
    width: 98%;
    margin: 0 auto;
  }

  header div.content nav {
    width: calc(100% - 130px);
    height: 80px;
    float: right;
    color: black;
    text-align: right;
    vertical-align: middle;
    position: relative;
  }

  header div.content nav .nav-list li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  header div.content nav .nav-list li a {
    margin: 0 25px;
    color: #888;
    font-size: 0.938em;
    font-weight: 700;
    text-decoration: none;
    vertical-align: middle;
  }

  header div.content nav .nav-list li .btn-link {
    font-size: 1.125em;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    color: #ef513c;
    border: 2px solid #ef513c;
  }

  header div.content nav .nav-list li .active {
    color: #ef513c;
  }

  .main_invite_wrap {
    background: url("./images/desktop/bg_landing.png") center top no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .wrap > section {
    max-width: 1100px;
    width: 98%;
    margin: 0 auto;
  }

  .main_invite_wrap section div.message {
    text-align: justify;
    width: 631px;
    border: 4px solid white;
    background-color: #f7f7f8;
    margin: 15px 0 40px;
    line-height: 220%;
    padding: 10px 25px 0;
    font-size: 1.125em;
  }

  .main_invite_wrap section div.location {
    text-align: left;
  }

  .main_invite_wrap section div.location .date-info {
    font-weight: 700;
    font-size: 36px;
    color: #575757;
  }

  .main_invite_wrap section div.location .location-address {
    font-size: 1.5em;
  }

  .program-info-wraper {
    background-image: url("./images/pattern_bg.png");
    background-repeat: repeat;
    background-color: #272a32;
    height: auto;
    padding-bottom: 80px;
  }

  .normal {
    font-weight: 400;
  }

  .program-info-wraper section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: #fff;
    height: auto;
  }

  .program-info-wraper section h2 {
    font-size: 24px;
  }

  .guide-bar {
    width: 53px;
    border-top: 1px solid #ef513c;
    margin: 16px auto 54px;
  }

  .program-info-wraper section .program-list {
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .program-info-wraper section .program-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 0 3px;
    padding: 8px;
    border: 0;
    float: left;
    width: calc(18% - 5px);
    background: rgb(255 255 255 / 10%);
  }

  .program-info-wraper section .program-list .program-card:hover {
    border: 1px solid hsl(7, 100%, 74%);
    cursor: pointer;
  }

  .program-info-wraper section .program-card .program-icon {
    float: left;
    margin: 0;
    padding-left: 10px;
  }

  .program-info-wraper section .program-card .program-sub-title {
    float: left;
    font-size: 18px;
    margin: 0 8px;
    color: #ef513c;
    font-weight: 700;
  }

  .program-info-wraper section .program-card .program-sub-description {
    font-size: 1em;
    display: flex;
    text-align: center;
    word-break: keep-all;
    overflow: auto;
    height: auto;
    color: #fff;
    line-height: 1.5em;
    padding: 8px 8px;
  }

  .program-info-wraper .join-button {
    display: none;
  }

  .speakers-wrap {
    height: auto;
    padding-bottom: 35px;
  }

  .b-bottom {
    border-bottom: 1px solid #dfdfdf;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  footer.dark_footer div.content img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(5deg) brightness(100%) contrast(100%);
  }

  .sponsors-wrap .content .sponsor-logos a img {
    width: 130px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(5deg) brightness(100%) contrast(100%);
  }

  .speakers-wrap div.content {
    text-align: center;
    padding-top: 79px;
    color: #272a32;
    height: auto;
  }

  .main_speakes_wrap section .speaker_list {
    overflow: auto;
    height: auto;
  }

  .speakers-wrap div.content .speakers-list .speaker {
    margin: 0 0 0 10px;
    border: 0;
    width: calc(50% - 10px);
    float: left;
    height: 294px;
  }

  .about-landing-wrap div.content .header-card img {
    margin: 20px;
  }

  .summits-wrapper .content .past-links img:hover {
    border: 1px solid rgb(251, 251, 251);
    cursor: pointer;
    filter: hue-rotate(5deg) brightness(105%) contrast(105%);
  }

  .speakers-wrap div.content .speakers-list .speaker img {
    float: left;
    width: 178px;
    margin-right: 30px;
  }

  .speakers-wrap div.content .speakers-list .speaker .desc {
    text-align: left;
  }

  .speakers-wrap div.content .speakers-list .speaker .desc .speaker-name {
    font-size: 22px;
  }

  .speakers-wrap div.content .speakers-list .speaker .desc .speaker-tag-name {
    font-size: 14px;
    margin-top: 5px;
  }

  .speakers-wrap div.content .speakers-list .speaker .desc .speaker-job {
    font-size: 13px;
    color: #ff4f38;
    text-align: left;
  }

  .speakers-wrap div.content .speakers-list .speaker .desc .speaker-desc {
    word-break: keep-all;
    text-align: left;
    font-size: 0.875em;
    padding-right: 1em;
    line-height: 24px;
    margin-top: 24px;
  }

  .speakers-wrap div.content .more-btn {
    display: none;
  }

  .sponsors-wrap {
    text-align: center;
    background-color: #2e2e2e;
  }

  .sponsors-wrap .content {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 45px;
    color: white;
    height: auto;
  }

  .sponsors-wrap .content .sponsor-logos {
    overflow: auto;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    position: relative;
  }

  .sponsors-wrap .content .sponsor-logos a {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin-right: 50px;
  }

  footer {
    font-size: 0.875em;
    color: #272a32;
    padding: 32px;
  }

  .about-landing-wrap {
    background: #f7f7f8 url("./images/desktop/bg_about.png") center no-repeat;
    height: auto;
    overflow: auto;
  }

  .about-landing-wrap div.content {
    padding-top: 140px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .about-landing-wrap div.content .header-card {
    text-align: center;
    margin: 0 auto 33px;
    padding: 32px;
    line-height: 25px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    font-size: 0.875em;
  }

  .logo-wrapper .content p {
    text-align: justify;
  }

  .about-landing-wrap div.content .header-card p {
    text-align: justify;
  }

  .logo-wrapper .content {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 45px;
  }

  .summits-wrapper .content {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 45px;
  }

  .summits-wrapper .content .past-links {
    padding: 20px;
  }

  footer.dark_footer {
    background-color: #2e2e2e;
  }

  footer.dark_footer div.content {
    color: white;
  }
}
